header {
  background-color: #003366;
  color: white;
  margin: 20px;
  padding: 20px;
  border: 2px solid #000;
}

main {
  background-color: #f0f0f0;
  color: #000;
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
}

footer {
  background-color: #333;
  color: white;
  margin: 20px;
  padding: 20px;
  border: 2px solid #000;
}

h2 {
  font-size: 1.5em;
  text-decoration: underline;
}

.destaque {
  font-style: italic;
  background-color: #ffffcc;
}

#importante {
  border-top: 4px solid red;
}